<button {{action "toggleModal"}} class="btn btn-success">New Question</button>

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    <h1>New Question</h1>
    <div class="container">
      {{#each model.errors.messages as |message|}}
        <div class="error">
          {{message}}
        </div>
      {{/each}}
      <form   {{action 'saveQuestion' on='submit'}}>
        <div class="form-group">
          <label for="title">Title:</label>
          {{input value=title id="title" class="form-control" required='required'}}
        </div>
        <div class="form-group">
          <label for="author">Author:</label>
          {{input value=author id="author" class="form-control" required='required'}}
        </div>
        <div class="form-group">
          <label for="content">Content:</label>
          {{input value=content id="content" class="form-control" required='required'}}
        </div>
        <div class="form-group">
          <label for="notes">Notes:</label>
          {{input value=notes id="notes" class="form-control"}}
        </div>
        <div class="form-group">
          <label for="icon">Your Icon:</label>
          {{input value=icon id="icon" class="form-control"}}
        </div>
        <button class="btn btn-success">Save</button>
      </form>
    </div>
  {{/modal-dialog}}
{{/if}}
