<div class="question-detail">
  <h3>{{question.title}}</h3>
  <h5 class="author">{{question.author}} {{moment-from-now question.timestamp}}</h5>
  <img src="{{question.icon}}" class="author-icon">
  <div class="well">
    <p>{{question.content}}</p>
    <p>Notes: {{question.notes}}</p>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <button {{action 'destroyQuestion' question}} class="btn btn-danger">Delete question</button>
    </div>
    <div class="col-sm-3">
      {{update-question question=question updateQuestion="updateQuestion"}}
    </div>
  </div>
</div>
