<li>
  <h3 class="text-right">{{question.icon}}{{question.author}} on {{question.timestamp}}</h3>
  <p>{{question.question}}</p>
  <br>
  <p>{{question.notes}}</p>
  <br>
  <p>{{question.solved}}</p>
</li>
