<h6 class="question-author">{{question.author}} on {{question.timestamp}}</h6>
<h4>{{question.title}}</h4>
<p>{{question.content}}</p>
<p>Notes: {{question.notes}}</p>
<p>Question solved?{{question.solved}}</p>

<div class="row">
  <div class="col-sm-2">
    <button {{action 'deleteQuestion' question}} class="btn btn-danger">Delete question</button>
  </div>
  <div class="col-sm-2">
    {{update-question question=question udpateQuestion="updateQuestion"}}
  </div>
</div>
