<h6 class="question-author">{{question.author}} on {{moment-from-now question.timestamp}}</h6>
<h4>{{question.title}}</h4>
<p>{{question.content}}</p>
<p>Notes: {{question.notes}}</p>
<p>Question solved?{{question.solved}}</p>

<button {{action 'deleteQuestion' question}} class="btn btn-danger">Delete question</button>
