<div class="container question">
  <div class="row">
    <h6 class="question-author"><img src="{{question.icon}}">{{question.author}} on {{question.timestamp}}</h6>
    <p>{{question.title}}</p>
    <p>{{question.solved}}</p>
  </div>
</div>
