<h6 class="question-author"><img src="{{question.icon}}">{{question.author}} on {{question.timestamp}}</h6>
<h4>{{question.title}}</h4>
<p>{{question.content}}</p>
<p>Notes: {{question.notes}}<p>
<p>Question solved?{{question.solved}}</p>
