<button {{action "toggleModal"}} class="btn btn-warning">Update Question</button>

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    <h1>Update Question</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="title">Title:</label>
          {{input value=title id="title" class="form-control" placeholder=question.title}}
        </div>
        <div class="form-group">
          <label for="author">Author:</label>
          {{input value=author id="author" class="form-control" placeholder=question.author }}
        </div>
        <div class="form-group">
          <label for="content">Content:</label>
          {{input value=content id="content" class="form-control" placeholder=question.content}}
        </div>
        <div class="form-group">
          <label for="notes">Notes:</label>
          {{input value=notes id="notes" class="form-control" placeholder=question.notes}}
        </div>
        <div class="form-group">
          <label for="solved">Solved:</label>
          {{input value=solved id="solved" class="form-control" placeholder=question.solved}}
        </div>
        <button {{action 'updateQuestion' question}} class="btn btn-success">Save</button>
      </form>
    </div>
  {{/modal-dialog}}
{{/if}}
